table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    width: 500px; 
    height: 50px;
    font-size: large;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(223, 217, 217);
}
p{
    font-size: medium;
    font-style: italic;
    font-family: 'Gill Sans';
    text-align: center;
}
.text{
    font-weight: bold;
    font-family: 'Gill Sans';
    font-style: italic;
    text-align: center;
}
